// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
html {
  font-size: 16px;
}

.page-content {
  padding-top:0px;
  padding-bottom:30px;
}
.image_home {
  height: calc(((100vw /16) * 9 ) - 200px);
  position: relative;
  max-height: calc(100vh - 60px);
  min-height: 300px;
  background: url('austin-santaniello-bucholtz-rDrcMdvXzUw-unsplash_Large.jpg') no-repeat center center/cover;
  .accroche {
    font-size: 2.5rem;
  }
}

form {
  margin: 0 auto;
  width: 400px;
  display: block;
}

.form-join-us-text {
  display: inline-block;
}

.button {
  display: inline-block;
}

.image_internal_block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  color: #FFF;
}

.site-nav {
  z-index: 10;
}

/*! gallerie photo */
/*! div style */
 .image-gallery {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
   justify-content: center;
  }

 .box {
     width: 100%;
     margin-bottom: 0px;
     /*overflow: hidden;*/
 }

 .img-gallery {
  max-width: 100%;
  width: 100%;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  &:hover {
   transform: scale(1.05);
 }
}
