<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="image_home" >
        <div class="image_internal_block">
          <div class="accroche">Sauvons le bois l'évêque</div>
          <form class="form-join-us" action="mailto:lesgrenouillesduboisleveque@gmail.com" method="post" Subject="Je souhaite rejoindre le collectif">
            <div class="form-join-us-text">
              <input type="email" id="mail" name="user_mail" placeholder="e-mail">
            </div>
            <div class="button">
              <button type="submit">Rejoignez-nous</button>
            </div>
          </form>
        </div>
      </div>
      <br>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
