<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="image_home" >
        <img src="\assets\css\austin-santaniello-bucholtz-rDrcMdvXzUw-unsplash_Large.jpg" width="100%" alt="LesGrenouilles" >
      </div>
        <div class="wrapper">
          {{ content }}
        </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
